<div class="main col-md-8">
  <div class="col-centered group-container" data-group-id="<%= group.id %>">
    <div class="group-image">
      <%= image_tag('ihavenoidea.jpg') %>
    </div>
    <h2 class="group-name-display"><%= link_to group.name, group_path(group) %></h2>
    <p>Members</p>
    <ul>
      <% group.memberships.each do |membership| %>
      <li><%= membership.user.name %></li>
      <% end %>
    </ul>
    <%= link_to 'Show', group %>
    <%= link_to 'Edit', edit_group_path(group) %>
    <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
