<p id="notice"><%= notice %></p>

  <%= link_to 'New Group', new_group_path %><h1 class="groups-title">Groups Dashboard</h1>



  <div class="container">
    <div class="row">
      <div class="main col-xs-10">
        <% @groups.each do |group| %>
          <div class="panel panel-default col-centered group-container" data-group-id="<%= group.id %>">
            <%= render group %>
          </div>
        <% end %>
      </div>

        <div class="sidebar col-xs-2">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Friends</h3>
            </div>
            <ul class="list-group friendlist">
              <% User.all.each do |user| %>
              <li class="list-group-item" data-user-id="<%= user.id %>"><%= user.name %></li>
              <% end %>
            </ul>
          </div>
        </div>

    </div>
  </div>
