<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FP Logo</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><% if current_user %>
          <%= link_to 'Log Out', signout_path, method: :delete, data: { confirm: "Are you sure?" } %>
          <% else %>
          <%= link_to 'Login with Google', auth_path(provider: 'google_oauth2') %>
          <% end %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <p id="notice"><%= notice %></p>

  <%= link_to 'New Group', new_group_path %><h1 class="groups-title">Groups Dashboard</h1>



  <div class="container">
    <div class="row">
      <div class="main col-xs-10">
        <% @groups.each do |group| %>
          <div class="panel panel-default col-centered group-container" data-group-id="<%= group.id %>">
            <%= render group %>
          </div>
        <% end %>
      </div>

        <div class="sidebar col-xs-2">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Friends</h3>
            </div>
            <ul class="list-group friendlist">
              <% User.all.each do |user| %>
              <li class="list-group-item" data-user-id="<%= user.id %>"><%= user.name %></li>
              <% end %>
            </ul>
          </div>
        </div>

    </div>
  </div>
