<!DOCTYPE html>
<html>
<head>
  <title>GameNight</title>
  <%= stylesheet_link_tag 'landingpage', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="landing-page">
  <%= render 'shared/navigation_bar' %>
  <div class="landing-page-jumbotron">
    <div class="landing-page-title">
      <%= link_to "Gaming with your buddies just got easier...", groups_path %>
    </div>
  </div>

  <video autoplay loop poster="<%= image_url('stars.png') %>" id="bgvid">
    <source src="<%= image_url('stars.webm') %>" type="video/webm">
    <source src="<%= image_url('stars.mp4') %>" type="video/mp4">
  </video>
</body>
</html>
