<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= stylesheet_link_tag 'landingpage', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- this is where yield might go if this were a layout instead -->
    <!-- yield -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FP Logo</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Groups', groups_path %></li>
            <li><%= link_to 'Calendar', calendars_index_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if current_user %>
              <%= link_to 'Log Out', signout_path, method: :delete, data: { confirm: "Are you sure?" } %>
              <% else %>
              <%= link_to 'Login with Google', auth_path(provider: 'google_oauth2') %>
              <% end %>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="landing-page-jumbotron">
      <div class="landing-page-title">
        <p>gaming with your buddies just got easier</p>
      </div>
    </div>
      <div class="landing-page-description">
        <!-- <div class='col-xs-6 col-md-3 col-centered'> -->
          <p>This app was built to bring people together. By bridging the the gaps in timezones and geopgraphy, this app allows you to focus on what really matters, keeping in touch with your friends and having fun.</p>
        </div>
        <!-- <p class="sign-in-button"><%= link_to "Sign in now", signin_path, class: "btn btn-primary center-block" %></p> -->
      </div>

  </body>
</html>
